<table class="table table-striped">
      <thead>
        <tr>
            <th>Student name</th>
            <th>Student Dept</th>

        </tr>
    </thead>
<tbody>
        {{#each ans1}}
        <tr>
            <td>{{this.Student_name}}</td>
            <td>{{this.Student_dept}}</td>
        </tr>
        {{/each}}
    </tbody>
<button id="back" class="btn btn-info" onclick="javascript:(function() { window.history.back(); })()">BACK</button>
</table>